@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@font-face {
    font-family: gotham-bold;
    src: url(../fonts/gotham-bold.TTF);
}

@font-face {
    font-family: gotham-light;
    src: url(../fonts/gotham-light.OTF);
}

@font-face {
    font-family: ProductSans-Bold;
    src: url(../fonts/ProductSans-Bold.ttf);
}

@font-face {
    font-family: ProductSans-Regular;
    src: url(../fonts/ProductSans-Regular.ttf);
}

body{
    font-family: ProductSans-Regular !important;
}



/*************************MINHAS PERSONALIZAÇÕES*************************/

.social-icons-color {
    color: #5B57A2;
}

.seta-icons{
    color: #268E86 !important;
}

.bg-primary{
    background-color: #5B57A2 !important;
}

.btn-primary {
    background-color: #5B57A2;
    border-color: #5B57A2;
}

.btn-primary:hover {
    background-color: #27B6B0;
    border-color: #27B6B0;
}

.btn-primary:active {
    background-color: #27B6B0 !important;
    border-color: #27B6B0 !important;
}

.btn-primary:focus-visible {
    background-color: #27B6B0;
    border-color: #27B6B0;
}

.bg-secundary {
    background-color: #27B6B0 !important;
}

.btn-secundary {
    background-color: #27B6B0;
    border-color: #27B6B0;
}

.btn-secundary:hover {
    background-color: #5B57A2;
    border-color: #5B57A2;
}

.btn-secundary:active {
    background-color: #5B57A2 !important;
    border-color: #5B57A2 !important;
}

.btn-secundary:focus-visible {
    background-color: #5B57A2;
    border-color: #5B57A2;
}

.bg-warning{
    background-color: #F08372 !important;
}

.btn-warning {
    background-color: #F08372;
    border-color: #F08372;
}

.btn-warning:hover {
    background-color: #5B57A2;
    border-color: #5B57A2;
}

.btn-warning:active {
    background-color: #5B57A2 !important;
    border-color: #5B57A2 !important;
}

.btn-warning:focus-visible {
    background-color: #5B57A2;
    border-color: #5B57A2;
}

/****PERSONALIZAÇÕES ACCORDION****/
.accordion{
    background: transparent;    
}

.accordion-item{
    background-color: #5B57A2 !important;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    
}

.accordion-header{
    border: none;
}

.accordion-header:focus-visible{
    border: none;
}

.accordion-button{
    background: transparent;
    color: #fff;
    outline: none;
    font-size: 1.3rem;
}

.accordion-button:focus{
    border: 1px solid #5B57A2;
    box-shadow: none;
}

.accordion-button:focus-visible{
    border: none;
}

.accordion-button:not(.collapsed){
    color: #fff;
    background-color: #5B57A2;
    box-shadow: none;
}

/* alterar a seta no final. Vídeo que utilizei: https://www.youtube.com/watch?v=2PlpX9HKDMc*/
.accordion-button::after{
    background-image: none;
    font-family: fontawesome;
    content: "\1F893";
    color: #fff;
    width: auto;
    height: auto;
}

.accordion-button:not(.collapsed)::after{
    background-image: none;
}


/**************************************************/

/****TOPO****/

.topo header img{
    width: 12rem;
}

.topo header ul li a{
    color: #706F6F !important;
    font-family: gotham-bold;
    font-size: 0.77206rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.topo header ul li a:focus{
    color: #5B57A2;
}


/************/

/***** SWIPER *******/
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/************/


/****SECTION COMO FUNCIONA****/

main h1{
    font-family: ProductSans-Bold;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.como-funciona > p{
    font-family: ProductSans-Regular;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.text-icons{
    font-family: ProductSans-Regular;
    font-size: 1.3125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/************/

/****SECTION PLANOS HOME****/

.planos-home h1{
    color: #575656;
    font-family: ProductSans-Bold;
}

.planos-home h2{
    font-family: ProductSans-Bold;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.fundo-plano-home{
    background-color: #ededed;
    padding: 1.25rem;
    border-radius: 0.75rem;
}

.fundo-plano-home h2{
    margin: -1.25rem -1.25rem 1rem -1.25rem;
    padding: 1rem;
    border-radius: 0.75rem 0.75rem 0rem 0rem;
    font-size: 2rem;
}

.plano-home-qtd-fotos{
    font-family: ProductSans-Regular;
    color: #575656;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

.plano-home-valor{
    font-family: ProductSans-Bold;
    color: #575656;
    font-size: 3rem;
    font-weight: 700;
}

.plano-home-tx-entrega{
    font-family: ProductSans-Regular;
    color: #575656;
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
}



/************/

/**** SECTION DÚVIDAS FREQUENTES HOME****/

.duvidas-home h1{
    font-family: ProductSans-Bold;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/************/

/****SECTION CONTATO****/

.contato-home h1{
    font-family: ProductSans-Bold;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.color-contact-home{
    color:#5F5E5E;
    font-size: 1.2rem;
}

.color-contact-home i{
    font-size: 1.5rem;
}

.color-contact-home a{
    color:#5F5E5E;
    text-decoration: none;
}

/************/

/****FOOTER****/

footer{
    background-color: #373736;
}

footer h1{
    font-family: ProductSans-Bold;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


/************/

/****xxxxxxxxx****/